<h2>Contact us</h2>
<p>as <b><%= current_user.username %></b></p>

<%= form_for :contact, url: '/contacts' do |f| %>
	
	<p> 
		<%= f.label :message %>
		<%= f.text_area :message %>
	</p>
	<p>
		<%= f.submit 'Contact us', :class => 'button'  %>
	</p>

<% end %>