<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul><%= link_to 'home', controller: 'home' %> | <%= link_to 'articles', controller: 'articles' %> | <a href="/contacts">contact</a> | <a href="/about">about</a> | <a href="/terms">terms</a> </ul>
    <%= yield %>
  </body>
</html>
